<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Adamart.Properties.Settings.u3657402_adamartConnectionString"
            connectionString="server=153.92.9.15;user id=u3657402_adamart;database=u3657402_adamart"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
